*{
    margin:0;
    padding:0;
}
body{
    max-width: 1024vm;
    max-height: 1024vm;
    display: flex;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    position: absolute;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
.center{
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
}
.top{
    position: relative;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;   
}

.menu{    
    padding-top:40px;
    display: flex;
    gap: 15px;
    font-weight: 400;
    font-size: 14px;
    color: #000;

}
.menu_home{

    color: #f25822;
}

.top_content{
    margin-top: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:39px;
}

.title{
    margin-bottom: 17px;
    font-weight: 700;
    font-size: 60px;
    color: #000;
}
.subtitle{
    font-weight: 400;
    font-size: 20px;
    color: #888;
}
.top_buttons{
    margin-top: 37px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 72px;
}
.button{
    border-radius: 50px;
    width: 140px;
    height: 50px;
    box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.2);
    background: #f25822;
    border: none;
    font-weight: 400;
    font-size: 15px;
    color: #fff;

}
.text_top_button{
    border:none;
    font-weight: 400;
    font-size: 15px;
    color: #aaa;
    background: none;
}
.top_logos{
    padding-top: 138px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
